<!DOCTYPE html>
<html>
    <head>
        <title>Tabela Periodica</title>
        <style>
            html{
                background-color: black;
                border: solid 50px;
                border-color: dimgray;
                height: 591px; 
                width: 1198px;
                border-radius: 50px; 
            }
            img{
                border-radius: 30px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <img src="tabela-periodica.jpg" width="1180px" height="575px">
    </body>
</html>