html{
    background-color: black;
    border: solid 30px;
    border-color: dimgray;
    height: 591px; 
    width: 1198px;
    border-radius: 15px;
    margin: 50px;
    margin-top: 20px ;

}
.button{
    background-color: darkgreen;
    border: solid 10px darkgreen;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
}
.campo{
    border: solid 5px darkgreen;
    border-radius: 10px;
    width: 500px;
    height: 40px;
}
h1,p{
    text-align: center;
    color: darkgreen;
    font-family: 'Lucida Sans TypeWriter'    
}
img{
    width: 20%;
    height: auto;
    display: inline-block;
}
#Enigma1{
    margin: auto;
    text-align: center;
}
.tabela{
    position: absolute;
    top: 55px;
    left: 85px;
    width: 1185px; 
    height: 580px;
  }
  .tablebutton{
    position: absolute;
    top: 590px;
    right: 1120px;
    background-color: darkgreen;
    border: solid 10px darkgreen;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
  }